@font-face {
  font-family: 'Britanica';
  src: url("assets/fonts/BRITANICA-LIGHT.TTF") format('truetype');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Britanica';
  src: url("assets/fonts/BRITANICA-THIN.TTF") format('truetype');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'Britanica';
  src: url("assets/fonts/BRITANICA-HEAVY.TTF") format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Britanica';
  src: url("assets/fonts/BRITANICA-BOLD.TTF") format('truetype');
  font-weight: normal;
  font-style: bold;
}

body {
  font-family: "Britanica", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #0434BC;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  color: white;;
}
.main {
  flex: 1
}


.tile-image {
  width: 463px;
  float: left;
  margin-right: 50px;
  margin-top: 20px;
}

h1 {  
  font-family: "Britanica", sans-serif;
  font-weight: lighter;
  font-size: 4rem;
  color:white;
}

.presupuesto a{  
  font-family: "Britanica", sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  color:white;
  text-decoration:none;

}

footer {
  text-align: right;
  color: white;
}

.left {
  float: left;
}

.right{
  float: right;
}

.card {
  width: 48%;
}

@media (min-width: 1000px) and (max-width: 1475px)
{
  .card {
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}


@media (min-width: 681px) and (max-width: 1000px)
{
  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}

@media(max-width:680px){
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}

.pricing-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  gap:2rem;
}
.pricing-plan {
flex: 1;
max-width: 400px;
padding: 20px;
background-color: darkblue;
color: white;
border-radius: 30px;
text-align: center;
}

.plan-title {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
}

.plan-price {
font-size: 48px;
font-weight: bold;
margin-bottom: 10px;
}

.plan-features {
list-style: none;
padding: 0;
margin: 0;
}

.plan-features li {
margin-bottom: 20px;
}

.plan-button {
padding: 10px;
background-color: #ff6600;
color: #fff;
border-radius: 5px;
border: none;
}

@media (max-width: 1000px) {
.pricing-container {
flex-direction: column;
height: 100%;
}
}